
  body {
  background-color: #119822;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  position: relative;
  margin: 0;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  animation: cool-colors 30s infinite;
 background: rgb(29,255,57);
background: -moz-radial-gradient(circle, rgba(29,255,57,1) 0%, rgba(24,219,50,1) 7%, rgba(19,129,34,1) 18%, rgba(25,25,25,1) 37%);
background: -webkit-radial-gradient(circle, rgba(29,255,57,1) 0%, rgba(24,219,50,1) 7%, rgba(19,129,34,1) 18%, rgba(25,25,25,1) 37%);
background: radial-gradient(circle, rgba(29,255,57,1) 0%, rgba(24,219,50,1) 7%, rgba(19,129,34,1) 18%, rgba(25,25,25,1) 37%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1dff39",endColorstr="#191919",GradientType=1); 
}

@keyframes cool-colors {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }

}

/* 0 index */
/* --------------- */
.hex-container-one {
  margin: 0;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-two {
  margin: 0px;
  margin-left: 106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-three {
  margin: 0px;
  margin-left: -106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-four {
  margin: 0px;
  margin-left: 212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-five {
  margin: 0px;
  margin-left: -212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-six {
margin: 0px;
  margin-left: 318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-seven {
margin: 0px;
  margin-left: -318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-eight {
margin: 0px;
  margin-left: 424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-nine {
margin: 0px;
  margin-left: -424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-ten {
margin: 0px;
  margin-left: 530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-eleven {
margin: 0px;
  margin-left: -530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-twelve {
margin: 0px;
  margin-left: 636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-thirteen {
  margin: 0px;
  margin-left: -636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fourteen {
  margin: 0px;
  margin-left: 742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fifthteen {
  margin: 0px;
  margin-left: -742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-sixteen {
  margin: 0px;
  margin-left: 848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventeen {
  margin: 0px;
  margin-left: -848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */


/* margin 92 & -92 */
.hex-container-eightteen {
  margin: 92px;
  margin-left: 53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-nineteen {
  margin: -92px;
  margin-left: -53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty {
  margin: 92px;
  margin-left: -53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-one {
  margin: -92px;
  margin-left: 53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-twenty-two {
  margin: 92px;
  margin-left: 159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-three {
  margin: -92px;
  margin-left: 159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-four {
  margin: -92px;
  margin-left: -159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-five {
  margin: 92px;
  margin-left: -159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-twenty-six {
  margin: 92px;
  margin-left: -265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-seven {
  margin: 92px;
  margin-left: 265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-eight {
  margin: -92px;
  margin-left: 265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-twenty-nine {
  margin: -92px;
  margin-left: -265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-thirty {
  margin: 92px;
  margin-left: 371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtyone {
  margin: 92px;
  margin-left: -371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtytwo{
  margin: -92px;
  margin-left: 371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtythree {
  margin: -92px;
  margin-left: -371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-thirtyfour {
  margin: -92px;
  margin-left: 477px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtyfive {
  margin: -92px;
  margin-left: -477px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtysix {
  margin: 92px;
  margin-left: 477px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtyseven {
  margin: 92px;
  margin-left: -477px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-thirtyeight {
  margin: 92px;
  margin-left: 583px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-thirtynine{
  margin: 92px;
  margin-left: -583px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fourty {
  margin: -92px;
  margin-left: 583px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fourtyone {
  margin: -92px;
  margin-left: -583px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fourtytwo {
  margin: 92px;
  margin-left: 689px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fourtythree {
  margin: 92px;
  margin-left: -689px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fourtyfour {
  margin: -92px;
  margin-left: 689px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- missing hex ^ */
.hex-container-fourtyfive {
  margin: 92px;
  margin-left: 795px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-fourtysix {
  margin: 92px;
  margin-left: -795px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-fourtyseven {
  margin: -92px;
  margin-left: 795px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-fourtyeight {
  margin: -92px;
  margin-left: -795px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fourtynine {
  margin: 92px;
  margin-left: 901px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-fifty {
  margin: 92px;
  margin-left: -901px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-fifty-one {
  margin: -92px;
  margin-left: 901px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-x1 {
  margin: -92px;
  margin-left: -901px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fiftyone {
  margin: 184px;
  margin-left: 0px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftytwo {
  margin: -184px;
  margin-left: 0px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fiftythree {
  margin: -184px;
  margin-left: 106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftyfour {
  margin: -184px;
  margin-left: -106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftyfive {
  margin: 184px;
  margin-left: 106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftysix {
  margin: 184px;
  margin-left: -106px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-fiftyseven {
  margin: 184px;
  margin-left: 212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftyeight {
  margin: 184px;
  margin-left: -212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-fiftynine {
  margin: -184px;
  margin-left: -212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixty {
  margin: -184px;
  margin-left: 212px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-sixtytwo {
  margin: -184px;
  margin-left: -318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtythree {
  margin: 184px;
  margin-left: -318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtyfour {
  margin: 184px;
  margin-left: 318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtyfive {
  margin: -184px;
  margin-left: 318px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-sixtysix {
  margin: -184px;
  margin-left: 424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtyseven {
  margin: -184px;
  margin-left: -424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtyeight {
  margin: 184px;
  margin-left: 424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-sixtynine {
  margin: 184px;
  margin-left: -424px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-seventy {
  margin: -184px;
  margin-left: -530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventyone {
  margin: -184px;
  margin-left: 530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventytwo {
  margin: 184px;
  margin-left: -530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventythree {
  margin: 184px;
  margin-left: 530px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-seventyfour {
  margin: 184px;
  margin-left: 636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventyfive {
  margin: 184px;
  margin-left: -636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventysix {
  margin: -184px;
  margin-left: -636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventyseven {
  margin: -184px;
  margin-left: 636px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-seventyeight {
  margin: 184px;
  margin-left: 742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-seventynine {
  margin: -184px;
  margin-left: 742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-eighty{
  margin: -184px;
  margin-left: -742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q21{
  margin: 184px;
  margin-left: -742px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-q20{
  margin: 184px;
  margin-left: -848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q19{
  margin: -184px;
  margin-left: -848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q18{
  margin: 184px;
  margin-left: 848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q17{
  margin: -184px;
  margin-left: 848px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-q16{
  margin: 276px;
  margin-left: 53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q15{
  margin: 276px;
  margin-left: -53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q14{
  margin: -276px;
  margin-left: -53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q13{
  margin: -276px;
  margin-left: 53px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-q12{
  margin: 276px;
  margin-left: -159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q11{
  margin: 276px;
  margin-left: 159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q10{
  margin: -276px;
  margin-left: -159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q9{
  margin: -276px;
  margin-left: 159px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-q8{
  margin: -276px;
  margin-left: 265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q7{
  margin: 276px;
  margin-left: -265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q6{
  margin: -276px;
  margin-left: -265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q5{
  margin: 276px;
  margin-left: 265px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */
.hex-container-q4{
  margin: 276px;
  margin-left: 371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q3{
  margin: 276px;
  margin-left: -371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
.hex-container-q2{
  margin: -276px;
  margin-left: 371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}

.hex-container-q1{
  margin: -276px;
  margin-left: -371px;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* --------------- */


/* hex shape and color */
.one {
  width: 0;
border-bottom: 30px solid #191919;
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}

.one-one {
  width: 104px;
height: 60px;
background-color: #191919;
}

.one-two {
  width: 0;
border-top: 30px solid #191919;
border-left: 52px solid transparent;
border-right: 52px solid transparent;
}